<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
</div>
<form action="/newUser" method="get">

    <input type="submit" value="ADD">
</form>
<table border=1>
    <tr>
        <th>id</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Adress</th>
        <th>Login</th>
        <th>Password</th>
        <th>Role</th>
    </tr>

    <th:block th:each="user : ${user}">
        <tr>
            <td th:text=${user.id}></td>
            <td th:text=${user.name}></td>
            <td th:text=${user.surname}></td>
            <td th:text=${user.adress}></td>
            <td th:text=${user.login}></td>
            <td th:text=${user.password}></td>
<!--            <th:block th:each= "role : ${user.roles}">-->
<!--                <td th:text=${role.name}></td>-->
<!--            </th:block>>-->

            <td th:each="role : ${user.roles}" th:text="${role.name}"></td>

            <form action="/editUser" method="get">
                <td>
                    <button name="id" th:value=${user.id} type=“submit”>UPDATE</button>
                </td>
            </form>
            <form action="/deleteUser" method="post">

                <td>
                    <button name="id" th:value=${user.id} type=“submit”>DELETE</button>
                </td>
            </form>
        </tr>
    </th:block>
</table>
<a href="/logout">logout</a>
</body>
</html>